<mat-card>
    <mat-card-header>
      <mat-card-title>{{article.wording}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img [src]="article.urlImage" alt="">
      <p>{{article.content}}</p>
      <p>Author: {{article.author}}</p>
    </mat-card-content>
    <mat-card-footer>
      <ul>
        <li *ngFor="let source of article.sources">{{source}}</li>
      </ul>
    </mat-card-footer>

</mat-card>
