

<mat-form-field appearance="outline">
  <label>
    Rechercher
    <input matInput type="text" (keyup)="search(s.value)" #s placeholder="Rechercher">
  </label>
</mat-form-field>


<div>

  <mat-card *ngFor="let article of articles" (click)="showArticle(article)">
    <mat-card-header>
      <mat-card-title>{{article.wording}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <img [src]="article.urlImage" alt="">
      </div>
      <div>
        <p>{{article.content | slice:0:250}}</p>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="colorCat" [style.background-color]="article.color"></div>
    </mat-card-footer>
  </mat-card>
</div>

