h1 {
  text-align: center;
  font-size: 90px;
  padding-top: 0;
  margin-top: 0;
}

.not-found {
  height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
  text-align: center;
}

p {
  &.emoji-shrug {
    padding: 0.1em 0;
    text-align: center;
    font-weight: bold;
    font-size: 90px;
  }

}

mat-card {
  width: 80%;
}
