<div class="not-found">
  <div>
    <h1>Are you lost ?</h1>
    <p class="emoji-shrug">¯\_(ツ)_/¯</p>
    <h3>Now that you're here, why not play a game with us ?</h3>
  </div>

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Rules</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>You lose 1/5 of the question's value if you miss your answer.</p>
          <p>You lose 3/4 of the question's value if you skip it.</p></mat-card-content>
        <mat-card-actions></mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Quizz</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="question">
          <p>Current score : {{this.points|number}} points</p>
          <p>Highest score : {{this.highscore}} points</p>
          <div>
            <h2>Question</h2>
            <p>{{question.question}}</p>
          </div>

          <div *ngIf="correctAnswer">
            <h2>Answer</h2>
            <p>{{this.question.answer}}</p>
          </div>


          <form (submit)="checkAnswer()" *ngIf="!correctAnswer" autocomplete="off">
            <mat-form-field>
              <input [(ngModel)]="userAnswer" matInput name="userAnswer">
            </mat-form-field>

            <button *ngIf="!correctAnswer" mat-raised-button>Submit answer</button>
            <button (click)="revealAnswer()" *ngIf="!correctAnswer" color="warn" mat-raised-button type="button">
              Reveal answer
            </button>
          </form>
        </mat-card-content>
        <mat-card-actions *ngIf="correctAnswer">
          <button (click)="getRandomQuestion()" mat-raised-button>New question</button>
          <button (click)="updateUserHighscore()" color="accent" mat-raised-button>Save highscore</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
